.loginButton.inputBox.signOut {
    background-color: red;
    width: 145px;
    position: absolute;
    top: 0;
    right: 25px;
    font-weight: 900;
    font-size: 12px;
    height: 40px;
}
.loginButton.inputBox.signOut:hover {
    background-color: maroon;
}
.thumbnail {
    border-radius: 5px;
}
.movieListContainer {
    padding-top: 70px;
    background-color: rgba(0, 0, 0, 0.4);
}
.moviesWrapper {
    margin-right: 20px;
}
.movieListWrapper h2 {
    padding: 18px 20px 0 30px;
    font-size: 26px;
    color: #fff;
}
.moviesList {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
}
.imageContainer:hover {
    transform: scale(1.1);
    transition: all 1s;
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}
.imageContainer:hover .infoContainer {
    height: 100%;

}
.imageContainer{
    transform: scale(1);
    transition: transform 1s;
    position: relative;
}
.infoContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: wheat;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 0 7px rgba(0,0,0,0.7);
    height: 60px;
    overflow: hidden;
    transition: all 1s;
}
.infoContainer p {
    margin-bottom: 20px;
}