.loginButton.inputBox.signOut {
    background-color: red;
    width: 200px;
    float: right;
    position: absolute;
    top: 25px;
    right: 25px;
    font-weight: 900;
    font-size: 15px;
}
.loginButton.inputBox.signOut:hover {
    background-color: mediumblue;
}
.headerContainer {
    position: relative;
}
.thumbnail {
    border-radius: 5px;
}
.moviesList {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.movieHeader {
    background-color: maroon;
    /* height: 180px; */
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    letter-spacing: 2px;

}
.imageContainer:hover {
    transform: scale(1.1);
    transition: transform 1s;
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);
}
.imageContainer{
    transform: scale(1);
    transition: transform 1s;
    position: relative;
}
.infoContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: wheat;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 0 7px rgba(0,0,0,0.7);
}





